@page "/"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager

<p>queryValue: @queryValue</p>

@code {
    private string queryValue = "A query string for 'ship' isn't present.";

    protected override void OnInitialized()
    {
        string query = new Uri(NavigationManager.Uri).Query; //?ship=Titanic&ship2=AnyShip

        if (QueryHelpers.ParseQuery(query).TryGetValue("ship", out var value))
        {
            queryValue = value;
        }
    }
}

@*https://localhost:44377/?ship=Titanic*@